{%- comment %}<locksmith:faef>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:faef>{% endcomment -%}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {{ locksmith_initializations }}
    {% # Google Fonts %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=EB+Garamond:wght@400;500;600;700&display=swap" rel="stylesheet">

    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
    
    {% section 'cart-drawer' %}
  </body>
</html>
